<div class="footer">
    <a href="https://github.com/christinehongs">
        <i class="fab fa-github"></i>  Christine Hong
    </a>
    <a href="https://github.com/SamDavis0">
        <i class="fab fa-github"></i>  Sam Davis
    </a>
    <a href="https://github.com/em-yee">
        <i class="fab fa-github"></i>  Emily Ye
    </a>
</div>
