<div class="navbar-wrapper" id="header">
  <a href="/">
    <img src="/public/images/logo.png" alt="bts-logo" class="logo" />
  </a>
  <img src="/public/images/hamburger-icon.png" alt="hamburger-menu-icon" id="hamburger-icon" />
</div>
<div class="menu-container">
  <div class="dropdown-wrapper">
    <div class="menu-content">
      <a href="/" class="menu-item">Home</a>
      <a href="/login_signup" class="menu-item">Sign Up</a>
      <a href="/login_signup" class="menu-item">Login</a>
      <a href="/projects" class="menu-item">Projects</a>
      <!-- <a href="/" class="menu-item">
        Logout
      </a> -->
      <a href="https://github.com/SamDavis0/Devtask" class="menu-item" target="_blank">
        Check out our code!
      </a>
    </div>
  </div>
</div>
