<html lang="en">

<head>
    <%- include('partials/meta.ejs') %>
    <link rel='stylesheet' href='public/vendor/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='public/vendor/fontawesome/css/fontawesome.min.css'>
    <link rel="stylesheet" href="https://use.typekit.net/sol4wcr.css" />
    <link rel='stylesheet' href='public/css/index.css'>
    <script src='public/js/login_signup.js' type='module'></script>
    <title>login/signup</title>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <%= messages.error; %>
    <div class="login-wrapper">
        <div class="custom-margin-top login-signup-container">
            <div class="signup">Sign Up</div>
            <div class="login">Log In</div>
            <form action="/login_signup" method="post">
                <div class="signup-form">
                    <input name="email" type="text" placeholder="Your Email Address" class="input">
                    <br />
                    <input name="username" type="text" placeholder="Choose a Username" class="input">
                    <br />
                    <input name="password" type="password" placeholder="Choose a Password" class="input">
                    <br />
                    <button type="submit" class="btn">Create account</button>
                    <!-- <div class="btn">Create account</div> -->
                </div>
            </form>

            <form action="/login_signup" method="post">
                <div class="login-form">
                    <input name="username" type="text" placeholder="Username" class="input">
                    <br />
                    <input name="password" type="password" placeholder="Password" class="input">
                    <br />
                    <button type="submit" class="btn">Log in</button>
                    <!-- <div class="btn">log in</div> -->
                    <!-- <span><a href="#">I forgot my username or password.</a></span> -->
                </div>
            </form>

        </div>
    </div>
    <script src='public/vendor/fontawesome/js/all.min.js'></script>
    <script src='public/js/navbar.js' type='module'></script>

</body>

</html>
